textarea {
    width: 100%;
    max-width: 600px;
    font-family: monospace;
    margin-bottom: 0.5em;
    border-radius: 6px;
    border: 1px solid gray;
    padding: 10px;
}

button {
    background-color: lightgray;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: lightgray;
}

pre {
    background-color: lightgray;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-family: monospace;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
